* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  padding-top: 0px;
}

#sse1 {
  background-color: #0f1923;
  height: 100px;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#sses1 {
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  background-color: #0f1923;
}

#sses1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px;
  border: solid 1px #6c0000;
}
#sses1 li {
  flex: 1;
  text-align: center;
}
#sses1 li.highlight {
  background-color: #ff4655;
  top: 36px;
  height: 2px;
  border-bottom: solid 3px #ff4655;
  z-index: 2;
  position: absolute;
  visibility: hidden;
}

#sses1 a {
  font: bold 16px Arial;
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px 20px;
  border-left: solid 1px #6c0000;
}

#sses1 a:hover {
  background: #ff4655;
  color: #ffffff;
}

#sses1 li:last-child a {
  border-right: solid 1px #6c0000;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
